<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ace.cms.mapper.CommentExtMapper">

    <insert id="insert" parameterType="com.ace.cms.dto.CommentExtDto">
       INSERT INTO `jc_comment_ext` (`comment_id`, `text`)
        VALUES
        (
            #{commentId,jdbcType=BIGINT},
            #{text,jdbcType=VARCHAR}
        )
    </insert>

</mapper>