<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ace.cms.mapper.UserMapper">

    <select id="getUserInfo" resultType="com.ace.cms.entity.user.User">
        SELECT
            t1.user_id as userId,
            t1.username as authorName,
	        t2.user_img as authorImg
        FROM
            jc_user t1
        LEFT JOIN jc_user_ext t2 ON t1.user_id = t2.user_id
        WHERE
            t1.user_id = #{authorId,jdbcType=BIGINT}
    </select>


</mapper>